:host {
  display: block;
  margin-bottom: 15px;
}

.custom-field-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .custom-label {
    color: var(--text-white);
    margin-bottom: 8px;
    font-size: 14px;
  }

  .custom-input {
    width: 100%;
    box-sizing: border-box;
    
    background-color: var(--bg-dark);
    border-radius: var(--radius);
    border: 1px solid var(--border-light);
    color: var(--text-white);
    caret-color: var(--primary-color);
    
    font-style: italic;
    font-size: 16px;
    
    padding: 16px;
    
    outline: none;
    transition: border-color 0.2s ease-in-out;

    &::placeholder {
      color: var(--placeholder-color);
      font-style: italic;
      opacity: 1;
      font-size: 13px;
    }

    &:focus {
      border-color: var(--primary-color);
    }
  }

  .custom-error {
    color: #ff4d4d;
    font-size: 11px;
    font-weight: 500;
    font-style: normal;
    margin-top: 4px;
    display: block;
  }

  &.error-state .custom-input {
    border-color: #ff4d4d;
  }
}