<div class="board" cdkDropListGroup>
    <div class="column">
      <div class="column-header">
        <h2>To Do <span class="task-count">{{todo().length}}</span></h2>
      </div>
      
      <div class="add-task-container">
        <input [(ngModel)]="newTaskTitle" placeholder="+ Create issue" (keyup.enter)="addTask()">
      </div>

      <div class="task-list" id="todo" cdkDropList [cdkDropListData]="todo()" (cdkDropListDropped)="drop($event)">
        @for (task of todo(); track task.id) {
          <div class="task-card" cdkDrag (click)="openTaskDetails(task)">
            <span class="task-text">{{ task.title }}</span>
            <mat-icon class="delete-icon" (click)="deleteSingleTask(task, todo(), $event)">close</mat-icon>
          </div>
        }
      </div>
    </div>

    <div class="column">
      <div class="column-header">
        <h2>In Progress <span class="task-count">{{inProgress().length}}</span></h2>
      </div>
      
      <div class="task-list" id="inProgress" cdkDropList [cdkDropListData]="inProgress()" (cdkDropListDropped)="drop($event)">
        @for (task of inProgress(); track task.id) {
          <div class="task-card" cdkDrag (click)="openTaskDetails(task)">
            <span class="task-text">{{ task.title }}</span>
            <mat-icon class="delete-icon" (click)="deleteSingleTask(task, inProgress(), $event)">close</mat-icon>
          </div>
        }
      </div>
    </div>

    <div class="column">
      <div class="column-header">
        <h2>Needs Checking <span class="task-count">{{needsChecking().length}}</span></h2>
      </div>
      
      <div class="task-list" id="needsChecking" cdkDropList [cdkDropListData]="needsChecking()" (cdkDropListDropped)="drop($event)">
        @for (task of needsChecking(); track task.id) {
          <div class="task-card" cdkDrag (click)="openTaskDetails(task)">
            <span class="task-text">{{ task.title }}</span>
            <mat-icon class="delete-icon" (click)="deleteSingleTask(task, needsChecking(), $event)">close</mat-icon>
          </div>
        }
      </div>
    </div>

    <div class="column">
      <div class="column-header header-with-btn">
        <h2>Done <span class="task-count">{{done().length}}</span></h2>
        
        @if (done().length > 0) {
          <button class="clear-btn" (click)="clearDoneTasks()">Clear All</button>
        }
      </div>
      
      <div class="task-list" id="done" cdkDropList [cdkDropListData]="done()" (cdkDropListDropped)="drop($event)">
        @for (task of done(); track task.id) {
          <div class="task-card done-card" cdkDrag (click)="openTaskDetails(task)">
            <span class="task-text">{{ task.title }}</span>
            <mat-icon class="delete-icon" (click)="deleteSingleTask(task, done(), $event)">close</mat-icon>
          </div>
        }
      </div>
    </div>
</div>